* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

p {
    margin: 0 !important;
}

.box {
    display: none;
    padding: 20px;
}

main {

    .sidebar {
        background-color: palevioletred;
        color: aliceblue;

        .logo {
            border-bottom: 1px solid grey;
            height: 70px;
            padding: 10px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .left-icon {
                background-color: black;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0px;
                transform: translate(50%, -50%);
                top: 50%;
            }
        }

        .menu {

            li {
                gap: 30px;
                display: flex;
                align-items: center;
                padding: 10px;

                &:hover {
                    color: black;
                    background-color: aliceblue;
                }
            }
        }
    }

    .main-content {
        flex: 1;

        .topbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            border-bottom: 1px solid gray;
            padding: 0px 30px;

            .user-icon {
                gap: 20px;
                display: flex;
            }

            .user-logo {
                height: 30px;
                width: 30px;
                position: relative;

                img {
                    border-radius: 50%;
                }

                .user-dropdown {
                    position: absolute;
                    top: 110%;
                    right: 0;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    padding: 10px;
                    width: 200px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    border-radius: 8px;
                    z-index: 2;
                    font-size: 14px;

                    p {
                        margin-bottom: 5px;
                    }

                    button {
                        margin-top: 10px;
                    }
                }

            }

        }


        .corner-number {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: #d14c7e;
            color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        }

        .contents {
            height: calc(100vh - 70px);
            overflow-y: auto;
        }

        .edit-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            color: palevioletred;
            cursor: pointer;
        }

        .rounded-btn{
            width: 35px;
            height: 35px;
            border-radius: 50% !important;
        }



    }

}

/* tablet  */
@media screen and (min-width:741px) {
    main {
        display: flex;
        height: 100vh;
    }
}

/* mobile */
@media screen and (max-width:740px) {
    .none {
        display: none;
    }

    main {
        .sidebar {
            .logo {
                .left-icon {
                    right: 30px;
                }
            }
        }

        .main-content {
            padding: 10px;

            .topbar {
                flex-direction: column;
                gap: 10px;
                padding: 10px;
                margin-bottom: 20px;

                .user-icon {
                    gap: 10px;
                }

                .user-logo {
                    width: 40px;
                    height: 40px;


                }


            }

            .contents {
                padding: 10px;

                .used-tables,
                .nohuman-tables {
                    grid-template-columns: 1fr;
                }

                .table-card {
                    img {
                        height: 150px;
                    }

                    .table-actions {
                        flex-direction: column;
                    }
                }
            }
        }

    }
}